@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.left{

    width: 329px;
    height: 593px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
   
}

.card{

    border: red solid 2px;
    width: 393px;
    height: 405px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 10px 40px #FFFFFF;
    font-weight: 400;
    

    


}

h1{

    color: #00A551;
    margin: 10px 0;
    font-weight: 500;

}

p{
    font-weight: 400;
    margin: 40px 0;
}

.textfield{

    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

input{
    border: none;
    width: 309px;
    height: 30px;
    border-radius: 10px;
    background-color: #F4F4F4;
    border: 2px solid transparent;
}

.btn-connexion{
    background-color: #00A551
    



}

#create{

}









